<StackLayout>
  <!-- Title for featured movies -->
  <Label text="Featured Movies" class="highlight-title"></Label>

  <!-- Horizontal ScrollView for featured movies -->
  <ScrollView orientation="horizontal">
    <StackLayout orientation="horizontal" class="movie-list">
      <ng-container *ngFor="let movie of movies">
        <StackLayout class="movie-card">
          <Image *ngIf="movie.poster_path"
                 [src]="getImageUrl(movie.poster_path)"
                 class="movie-poster"
                 stretch="aspectFill"
                 (tap)="onMovieTap(movie)"></Image>
          <Label [text]="movie.title" class="movie-title"></Label>
        </StackLayout>
      </ng-container>
    </StackLayout>
  </ScrollView>

  <!-- Message if no movies are found -->
  <Label *ngIf="movies.length === 0" text="No movies found" class="no-movies-message"></Label>
</StackLayout>
