.highlight-title {
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center; /* Centraliza o texto */
  }
  
  .movie-item {
    margin-bottom: 20px;
  }
  
  .movie-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .movie-overview {
    font-size: 14px;
    word-wrap: break-word; /* Quebra a palavra se necessário */
    white-space: normal; /* Permite quebra de linha */
    margin-top: 5px; /* Espaçamento entre título e descrição */
  }
  
  .loading-label, .error-label {
    margin-top: 10px;
    text-align: center;
    color: red;
  }
  